@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;700&display=swap');

:root {
  --dark-color: #14213d;
  --accent-color: #2a9d8f;
  --accent-color-rgb: 42, 157, 143;
  --primary-color: #fca311;
  --primary-color-rgb: 252, 163, 17;
  --light-color: #e5e5e5;
  --light-color-rgb: 229, 229, 229;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  background-color: var(--dark-color);
  color: var(--light-color);
}

/* Scroll styling for chrome */
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-color);
  border-radius: 1rem;
}

/* 
  Coins information component styling
 */
.coins-info {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
}

.coin-info {
  width: 150px;
  text-align: center;
}

.coin-info .coin-name {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 300;
}

.coin-info .coin-quantity {
  position: relative;
  text-align: center;
  padding: 1rem;
  margin: 0;
  border: solid 3px var(--primary-color);
  border-radius: 1rem;
  font-size: 1.2rem;
  background-color: var(--dark-color);
  z-index: 10;
  cursor: pointer;
}

.coin-info .coin-total {
  display: table;
  margin: 0 auto;
  padding: 0.5rem 0.7rem;
  background-color: var(--primary-color);
  color: var(--dark-color);
  border-radius: 0 0 0.5rem 0.5rem;
  transform: translateY(-100%);
  transition: 0.3s;
}

.coin-quantity:hover + .coin-total {
  transform: translateY(0%);
}

/* 
  Products information component styling
 */
.products-order {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.products {
  flex-grow: 1;
  flex-shrink: 600px;
}

.products-info * {
  margin: 0;
}

.product-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  margin: 1.5rem;
}

.products-info .product-name {
  font-size: 2.5rem;
}

.product-cost {
  color: rgba(var(--primary-color-rgb), 0.8);
  font-size: 1.1rem;
  margin-right: 1rem;
}

.product-info .product-stock {
  color: rgba(var(--light-color-rgb), 0.7);
}

.product-info .product-input {
  position: relative;
  padding: 1rem;
  border-radius: 1rem;
  outline: none;
  border: solid 4px var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  font-size: 1.5rem;
  width: 8ch;
}

/* 
  Order details component styling
 */
.order-details {
  flex-grow: 1;
  max-height: 600px;
  overflow: auto;
}

.order-details .order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: solid 2px var(--primary-color);
}

.order-details .order:first-child {
  margin-top: 2rem;
  border-top: solid 2px var(--primary-color);
}

.order-details .order-product-name {
  font-size: 2rem;
  margin: 0;
}

.order-details .order-product-name span {
  font-size: 1.2rem;
  margin: 0 1rem;
}

.order-details .order-product-cost {
  margin: 10px 0 0 0;
  color: rgba(var(--primary-color-rgb), 0.8);
}

.order-details .order-product-total {
  font-size: 1.7rem;
  align-self: flex-end;
}

.order-details .order-total {
  text-align: right;
  margin-right: 2rem;
  font-size: 1.7rem;
}

/* 
  Get Drinks component styles
*/
.get-drinks {
  display: flex;
  justify-content: flex-end;
  margin: 2rem;
}

#get-drinks-btn {
  position: relative;
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  font-weight: 500 !important;
  font-family: 'Roboto Mono', monospace;
  border-radius: 1.2rem;
  background-color: transparent;
  color: var(--accent-color);
  border: solid 4px var(--accent-color);
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

#get-drinks-btn::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--accent-color);
  z-index: -1;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
  outline: none;
  border-radius: 1rem;
}

#get-drinks-btn:hover::before {
  transform: scaleY(1);
}

#get-drinks-btn:hover {
  color: var(--dark-color);
}

#get-drinks-btn.disabled {
  pointer-events: none;
  border: solid 4px rgba(var(--accent-color-rgb), 0.5);
  color: rgba(var(--accent-color-rgb), 0.5);
}

/* 
  Modal Component styles

*/
.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.modal-content {
  min-width: 300px;
  max-width: 800px;
  max-height: 80vh;
  width: 50vw;
  padding: 2rem;
  border-radius: 1rem;
  border: solid 4px var(--accent-color);
  -webkit-box-shadow: 0px 10px 13px -7px rgba(var(--dark-color-rgb, 0/3)), 5px 5px 5px 5px rgba(var(--dark-color-rgb, 0/3)); 
  box-shadow: 0px 10px 13px -7px rgba(var(--dark-color-rgb, 0/3)), 5px 5px 5px 5px rgba(var(--dark-color-rgb, 0/3));
  background-color: var(--dark-color);
  transform: translateY(-50px);
  opacity: 0;
  animation: scale-to-one 0.3s linear 0.2s;
  animation-fill-mode: forwards;
  line-height: 2.2rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-content span {
  color: var(--primary-color);
}

.modal-toggle {
  display: block;
  margin-left: auto;
  margin-right: 1rem;
  background-color: transparent;
  font-size: 3rem;
  outline: none;
  border: none;
  border-bottom: solid 2px var(--accent-color);
  color: var(--accent-color);
  cursor: pointer;
}

.modal-btns {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.modal-confirm, .modal-cancel {
  padding: 1rem 2rem;
  margin-top: 2rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-weight: 500 !important;
  font-family: 'Roboto Mono', monospace;
  border: solid 4px var(--accent-color);
  outline: none;
  color: var(--accent-color);
  background-color: transparent;
  cursor: pointer;
}

.modal-confirm {
  background-color: var(--accent-color);
  color: var(--dark-color);
  transition: 0.3s;
}

.modal-confirm:hover {
  transform: translateY(-5px);
}

/* Helper class */
.container {
  max-width: 1200px;
  margin: auto;
}

.section-title {
  margin: 2rem 4rem 0 4rem;
  text-align: center;
}

/* Resume Modal component styles */
.orders-resume {
  display: flex;
  flex-direction: column;
}

.order-resume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px var(--primary-color);
  padding: 1rem;
}

.order-resume-name {
  font-size: 2rem;
  margin: 0;
}

.order-resume-name span {
  font-size: 1.2rem;
  margin: 0 1rem;
}

.order-resume-cost {
  margin: 10px 0 0 0;
  color: rgba(var(--primary-color-rgb), 0.8);
}

.order-resume-total {
  font-size: 1.7rem;
  align-self: flex-end;
}

.orders-resume-total {
  align-self: flex-end;
  font-size: 1.5rem;
}

/* Key frames */
@keyframes scale-to-one {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}