@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&display=swap');

:root {
  --dark-color: #14213d;
  --accent-color: #2a9d8f;
  --primary-color: #fca311;
  --primary-color-rgb: 252, 163, 17;
  --light-color: #e5e5e5;
  --light-color-rgb: 229, 229, 229;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  background-color: var(--dark-color);
  color: var(--light-color);
}

/* 
  Coins information component styling
 */
.coins-info {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
}

.coin-info {
  width: 150px;
  text-align: center;
}

.coin-info .coin-name {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 300;
}

.coin-info .coin-quantity {
  position: relative;
  text-align: center;
  padding: 1rem;
  margin: 0;
  border: solid 3px var(--primary-color);
  border-radius: 1rem;
  font-size: 1.2rem;
  background-color: var(--dark-color);
  z-index: 10;
  cursor: pointer;
}

.coin-info .coin-total {
  display: table;
  margin: 0 auto;
  padding: 0.5rem 0.7rem;
  background-color: var(--primary-color);
  color: var(--dark-color);
  border-radius: 0 0 0.5rem 0.5rem;
  transform: translateY(-100%);
  transition: 0.3s;
}

.coin-quantity:hover + .coin-total {
  transform: translateY(0%);
}

/* 
  Products information component styling
 */
.products-order {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.products {
  flex-grow: 1;
  flex-shrink: 600px;
}

.products-info * {
  margin: 0;
}

.product-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  margin: 1.5rem;
}

.products-info .product-name {
  font-size: 2.5rem;
}

.product-cost {
  color: rgba(var(--primary-color-rgb), 0.8);
  font-size: 1.1rem;
  margin-right: 1rem;
}

.product-info .product-stock {
  color: rgba(var(--light-color-rgb), 0.7);
}

.product-info .product-input {
  position: relative;
  padding: 1rem;
  border-radius: 1rem;
  outline: none;
  border: solid 4px var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  font-size: 1.5rem;
  width: 8ch;
}

/* 
  Order details component styling
 */
.order-details {
  flex-grow: 1;
  max-height: 600px;
  overflow: auto;
}

.order-details .order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: solid 2px var(--primary-color);
}

.order-details .order:first-child {
  margin-top: 2rem;
  border-top: solid 2px var(--primary-color);
}

.order-details .order-product-name {
  font-size: 2rem;
  margin: 0;
}

.order-details .order-product-name span {
  font-size: 1.2rem;
  margin: 0 1rem;
}

.order-details .order-product-cost {
  margin: 10px;
  color: rgba(var(--primary-color-rgb), 0.8);
}

.order-details .order-product-total {
  font-size: 1.7rem;
  align-self: flex-end;
}

.order-details .order-total {
  text-align: right;
  margin-right: 2rem;
  font-size: 1.7rem;
}

/* Helper class */
.container {
  max-width: 1200px;
  margin: auto;
}

.section-title {
  margin: 2rem 4rem 0 4rem;
  text-align: center;
}